@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}

/* Scrollbar sutil */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background: rgb(39 39 42);
  border-radius: 999px;
}
*::-webkit-scrollbar-track {
  background: rgb(9 9 11);
}

/* Animación sutil */
@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}